body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.gauge-container {
    width: 300px;
    margin: 50px auto;
}

button {
    padding: 12px 25px;
    margin: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #2563eb;
    color: white;
}

button:hover {
    opacity: 0.8;
}
